<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-9">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-m12">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Transaction Form</h3>
            <form #userForm="ngForm">

              <div class="row">

                <div class="col-md-6 mb-4">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Transaction
                  </label>

                  <div class="form-check">

                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                      value="new" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      New
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                      value="existing">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Existing
                    </label>
                  </div>

                </div>


              </div>



              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-group">

                    <label class="form-label" for="firstName"> Custosmer Name</label>
                    <input type="text" id="name" required #name="ngModel"
                      [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="transectionData.name" name="name"
                      class="form-control" ngModel />
                    
                    <small style="color: red;" [class.d-none]="name.valid || name.untouched">Name is required</small>


                  </div>


                </div>
                <div class="col-md-6 mb-3">

                  <div class="form-group">
                    <label class="form-label" for="lastName">Customer Id</label>
                    <input type="text" id="id" required #cid="ngModel" [class.is-invalid]="cid.invalid && cid.touched"
                      [(ngModel)]="transectionData.id" name="id" class="form-control" ngModel />
                      <small style="color: red;" [class.d-none]="cid.valid || cid.untouched">Customer Id  required</small>


                  </div>

                </div>
              </div>

            



              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-group">
                    <label class="form-label" for="address">Customer Address</label>
                    <input type="text" #add="ngModel" required [class.is-invalid]="add.invalid && add.touched"
                      [(ngModel)]="transectionData.address" name="address" id="address"
                      class="form-control form-control-lg" ngModel />
                    <small style="color: red;" [class.d-none]="add.valid || add.untouched">Customer Address  Required</small>

                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-group">
                    <label class="form-label" for="phNnumber"> Phone Number</label>
                    <input type="tel" required #phone="ngModel" pattern="^\d{10}$"
                      [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="transectionData.phNnumber"
                      name="number" id="number" class="form-control form-control-lg" ngModel />
                    <small style="color: red;" [class.d-none]="phone.valid || phone.untouched">Phone number Required & Should  be 10 digits</small>
                  </div>

                </div>
              </div>



              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-group">
                    <label class="form-label" for="amount"> Tranfer Amount</label>
                    <input type="number" required #amo="ngModel" [class.is-invalid]="amo.invalid && amo.touched"
                      [(ngModel)]="transectionData.amount" name="amount" id="amount"
                      class="form-control form-control-lg" ngModel />
                    <small style="color: red;" [class.d-none]="amo.valid || amo.untouched">Amount Required</small>

                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-group">
                    <label class="form-label" for="lastName">Payment Deatils</label>
                    <input type="text" required pattern="^[a-zA-Z]$" #pyd="ngModel"
                      [class.is-invalid]="pyd.invalid && pyd.touched" [(ngModel)]="transectionData.pymtId"
                      name="payment" id="payment" class="form-control form-control-lg" ngModel />

                    <small style="color: red;" [class.d-none]="pyd.valid || pyd.untouched">Pyment Deatils Required only characters</small>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-group">

                    <div class="form-group">
                      <label class="form-label" for="firstName"> Beneficiary Account Number</label>
                      <input type="number" required #bno="ngModel" [class.is-invalid]="bno.invalid && bno.touched"
                        [(ngModel)]="transectionData.bAccountNumber" name="bAccountNumber" id="bAccountNumber"
                        class="form-control form-control-lg" ngModel />
                      <small style="color: red;" [class.d-none]="bno.valid || bno.untouched">Account Number Required</small>

                    </div>

                  </div>
                </div>


                <div class="col-md-6 mb-4">

                  <div class="form-group">
                    <label class="form-label" for="firstName"> Beneficiary Bank</label>
                    <input type="text" required #bank="ngModel" pattern="^[a-zA-Z]$" [class.is-invalid]="bank.invalid && bank.touched"
                      [(ngModel)]="transectionData.bAccName" name="bank" id="bank" class="form-control form-control-lg"
                      ngModel />
                    <small style="color: red;" [class.d-none]="bank.valid || bank.untouched">Beneficiary Bank Required only characters</small>

                  </div>

                </div>

              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-group datepicker w-100">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>Currency Type</option>
                      <option value="AED">AED</option>
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                      <option value="MUR">MUR</option>
                      <option value="CHF">CHF</option>

                    </select>
                  </div>

                </div>

                <div class="col-md-6 mb-4">

                  <div class="form-group">

                    <div class="form-group datepicker w-100">
                      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Region</option>
                        <option value="port Louis">Port Louis</option>
                        <option value="Curepipe">Curepipe</option>
                        <option value="Vacoas">Vacoas</option>
                        <option value="Port Mathurin">Port Mathurin</option>


                      </select>
                    </div>
                  </div>
                </div>


              </div>


              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>